<a href="{% url 'patient_list_view' %}" style="margin-right:20px "> Список пациентов</a>
<a href="{% url 'case_list_view' %}" style="margin-right:20px"> Список случаев лечения</a>
<a href="{% url 'document_list_view' %}" style="margin-right:20px"> Список документов</a>
<a href="{% url 'add_patient' %}" style="margin-right:20px"> Добавить пациеннта</a>
<a href="{% url 'add_case' %}" style="margin-right:20px"> Добавить случай лечения</a>
<a href="{% url 'add_document' %}" style="margin-right:150px"> Добавить документ</a>
|
<a href="http://127.0.0.1:8080/api/posts" style="margin-right:20px"> api/posts</a>
<a href="http://127.0.0.1:8080/api/photos" style="margin-right:20px"> api/photos</a>
<a href="{% url 'get_json_from_aiohttp_server' %}" style="margin-right:20px"> Сделать запрос</a>
<a href="{% url 'change_request_time' %}" style="margin-right:20px"> Изменить периодичность запроса</a>
<div style="padding-bottom: 40px"></div>
