<a href="{% url 'patient_list_view' %}" style="margin-right:20px "> Список пациентов</a>
<a href="{% url 'case_list_view' %}" style="margin-right:20px"> Список случаев лечения</a>
<a href="{% url 'document_list_view' %}" style="margin-right:20px"> Список документов</a>
<a href="{% url 'add_patient' %}" style="margin-right:20px"> Добавить пациеннта</a>
<a href="{% url 'add_case' %}" style="margin-right:20px"> Добавить случай лечения</a>
<a href="{% url 'add_document' %}" style="margin-right:20px"> Добавить документ</a>
<div style="padding-bottom: 40px"></div>
