{% extends 'base.html' %}

{% block title %}

    <title>Список документов</title>

{% endblock %}

{% block content %}

 {% for document in documents %}

        <p>
             {{ document }}
        </p>

 {% endfor %}

     <form method="get">

        {{ my_filter_patient.form }}

        <div>
            <button type="submit" name = 'filter_by_patient'>Отфильтровать по пациенту</button>
        </div>

    </form>


     <form method="get">

        {{ my_filter_case.form }}

        <div>
            <button type="submit" name = 'filter_by_case'>Отфильтровать по случаю лечения</button>
        </div>

    </form>

{% endblock %}